<section class="desc_text">
	<h5>My Schedule</h5>
	<p>
		<span class="flow-text">Hi <span class="patient-name">Susan</span>. Your next scheduled med dose is at supper time.</span>
	</p>
</section>

<table class="bubble centered highlight">
    <thead>
      <tr class="show">
      	  <th class="label"></th>
          <th data-field="breakfast">Breakfast</th>
          <th data-field="lunch">Lunch</th>
          <th data-field="price">Supper</th>
          <th data-field="price">Bedtime</th>
      </tr>
    </thead>

    <tbody>
      <tr class="show">
        <td class="label">Mon<span class="suffix">day</span></td>
        <td class="correct">2 meds</td>
        <td class="correct">1 med<div class="material-icons modal-trigger" href="#med-modal">visibility</div></td>
        <td class="wrong">3 meds</td>
        <td class="wrong">2 meds</td>
      </tr>
      <tr>
        <td class="label">Tues<span class="suffix">day</span></td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
      </tr>
      <tr>
        <td class="label">Wed<span class="suffix">nesday</span></td>
        <td class="wrong">2 meds</td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
      </tr>
      <tr>
        <td class="label">Thur<span class="suffix">sday</span></td>
        <td class="correct">2 meds</td>
        <td class="correct">2 meds</td>
        <td class="next">2 meds</td>
        <td>2 meds</td>
      </tr>
      <tr>
        <td class="label">Fri<span class="suffix">day</span></td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
      </tr>
      <tr>
        <td class="label">Sat<span class="suffix">urday</span></td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
      </tr>
      <tr>
        <td class="label">Sun<span class="suffix">day</span></td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
        <td>2 meds</td>
      </tr>
    </tbody>
</table>


<div id="med-modal" class="modal">
	<div class="modal-content">
	  	<section class="desc_text">
		  	<h5>Monday</h5> 
		  	<p class="flow-text">Breakfast Medication. <span class="correct">Taken</span></p>
		  </section>
		<ul class="collection">
		  	<li class="collection-item">levothyroxine (hypothyroid med) 75 mg daily</li>
			<li class="collection-item">pravastatin (for elevated cholesterol) 40 mg daily</li>
			<li class="collection-item">lisinopril (hypertension) 10 mg daily</li>
		</ul>
	</div>
	<div class="modal-footer">
	  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
	</div>
</div>
