<h1><%= @schedule.name %></h1>
<div class="schedule">
	<table>
		<tr>
			<th>Time of Day</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
		<tr>
			<td>Breakfast</td>
			<td>Lunch</td>
			<td>Dinner</td>
			<td>Evening</td>
		</tr>
	</table>
</div>
