<section class="desc_text">
	<h5>My Clinicians</h5>
	<p class="flow-text">Add a clinician to give them access to your medication schedule by clicking: <span class="chip add">Add</span> You can remove a clinician's access to your medication information at any time by clicking: <span class="chip remove">Remove <i class="material-icons">close</i></span></p>
</section>

<table class="table-list striped">
	<thead>
	  <tr>
	      <th data-field="name">Clinician</th>
	      <th data-field="institution" class="institution">Institution</th>
	      <th></th>
	  </tr>
	</thead>

	<tbody>
	  <tr>
	    <td>Dr. Fred Glebe</td>
	    <td class="institution">Toronto Western Hospital</td>
	    <td><div class="chip remove">Remove <i class="material-icons">close</i></div></td>
	  </tr>
	  <tr>
	    <td>Dr. Alan Pope</td>
	    <td class="institution">Baycrest Medical Centre<br/></td>
	    <td><div class="chip remove">Remove <i class="material-icons">close</i></div></td>
	  </tr>
	  <tr>
	    <td>Dr. Jon Ivers</td>
	    <td class="institution">St Joseph's Health Centre</td>
	    <td><div class="chip add">Add</div></td>
	  </tr>
	  <tr>
	    <td>Dr. Greg Turkington</td>
	    <td class="institution">Toronto Western Hospital</td>
	    <td><div class="chip add">Add</div></td>
	  </tr>
	  <tr>
	    <td>Dr. Fran Lebosmith</td>
	    <td class="institution">Toronto Western Hospital</td>
	    <td><div class="chip add">Add</div></td>
	  </tr>
	  <tr>
	    <td>Dr. Gran Smith</td>
	    <td class="institution">Baycrest Medical Centre</td>
	    <td><div class="chip add">Add</div></td>
	  </tr>
	  <tr>
	    <td>Dr. Erskine Mole</td>
	    <td class="institution">St Joseph's Health Centre</td>
	    <td><div class="chip add">Add</div></td>
	  </tr>
	</tbody>
</table>
